@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;


*{
    font-family: 'Montserrat', sans-serif;
}

html, body{
    height: 100%;
    margin:0;
    padding:0;
    position: relative;
    box-sizing: border-box;

    body{
        max-width: 1536px !important;
    }
}

//navigation
.with-border-gradient {
    border-top-style: solid;
    border-top-width: 4px;
    border-image: linear-gradient(45deg, rgb(139, 201, 65), rgb(48, 156, 73)) 1;
}

.mobile-box{
    transition: ease-in 0.5s!important;
    left:-100%;
    display: hidden;
    transition-property: display;
}

.mobile-box-show{
    display: block;
    transition: ease-in 0.5s !important;
    left: 0;
    transition-property: display;
}

//hero section
.hero-box{
    background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url("/images/farmhero.jpg");
}