@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:wght@400;600&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;


*{
    font-family: 'Fira Sans', sans-serif;
}

html, body{
    height: 100%;
    margin:0;
    padding:0;
    position: relative;
}



